.main {
  min-height: 100vh;
  background-color: #f4f4f4;
  color: var(--text-color);
  padding: 1rem;
  padding-top: var(--header-height);
  position: relative;
}

.rectangle {
  position: absolute;
  top: calc(75px + var(--header-height));
  left: 0;
  width: 14px;
  height: 125px;
  background-color: var(--main-color);
}

.circleImg {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 45%;
  z-index: 1;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-top: 75px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.content .texts {
  height: 100%;
  z-index: 2;
}

.content .texts h1 {
  font: 700 40px Poppins, sans-serif;
  line-height: 45px;
}

.content .texts .secondaryText {
  margin-top: 20px;
  font: 400 18px Poppins, sans-serif;
  max-width: 375px;
}

.cardInfoContainer {
  margin-top: 110px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

.mainImage {
  object-fit: contain;
  width: 85%;
  max-width: 480px;
  height: min-content;
  padding: 50px 0;
}

.mainButtonContainer {
  margin: 60px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .content {
    flex-direction: column;
  }

  .content .texts h1 {
    font-size: 36px;
    line-height: 40px;
  }
}

@media (max-width: 768px) {
  .circleImg {
    top: -80px;
  }

  .content .texts h1 {
    font-size: 28px;
    line-height: 36px;
  }
}
