.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.content {
  height: var(--header-height);
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdownContent {
  height: fit-content;
  padding: 30px;
}

.dropdownContent .buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menuIcon {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: none;
}

.menuIcon .menuIconCheeckbox {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0;
}

.menuIcon .menuIconDiv {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 12px;
}

.menuIcon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--bar-bg, #000);
  border-radius: 1px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

.menuIcon span:first-of-type {
  top: 0;
}

.menuIcon span:last-of-type {
  bottom: 0;
}

.menuIcon.active span:first-of-type,
.menuIcon .menuIconCheeckbox:checked + .menuIconDiv span:first-of-type {
  transform: rotate(45deg);
  top: 5px;
}

.menuIcon.active span:last-of-type,
.menuIcon .menuIconCheeckbox:checked + .menuIconDiv span:last-of-type {
  transform: rotate(-45deg);
  bottom: 5px;
}

.menuIcon.active:hover span:first-of-type,
.menuIcon.active:hover span:last-of-type,
.menuIcon:hover .menuIconCheeckbox:checked + .menuIconDiv span:first-of-type,
.menuIcon:hover .menuIconCheeckbox:checked + .menuIconDiv span:last-of-type {
  width: 22px;
}

@media (min-width: 480px) {
  .menuIcon:hover span:first-of-type {
    width: 26px;
  }

  .menuIcon:hover span:last-of-type {
    width: 12px;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 20px 35px;
    height: 100px;
  }

  .menuIcon {
    display: block;
  }

  .buttonsContainer {
    display: none;
  }
}
