.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.leftContent {
  height: 100%;
  width: 60vw;
  background-color: grey;
}

.backgroundImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.rightContent {
  height: 100%;
  width: 40vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../assets/pattern.png') repeat, var(--background-color);
}

.peopleForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--text-color);
  margin-top: 20px;
}

.checkboxContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkboxContainer span {
  line-height: 1.1rem;
}

.flowers {
  margin: 10px 0;
}

.names h1 {
  text-align: center;
  font-size: 48px;
  color: var(--text-color);
}

.inviteText {
  text-align: center;
}

.buttonContainer {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    position: relative;
    overflow-y: auto;
  }

  .leftContent {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 50vh;
  }

  .rightContent {
    width: 100%;
    position: absolute;
    margin-top: -10vh;
    bottom: 0;
    height: fit-content;
    min-height: 55vh;
    z-index: 2;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
  }

  .names h1 {
    font-size: 2rem;
  }
}

@media (max-width: 320px) {
  .checkboxContainer span,
  .inviteText {
    font-size: 14px;
  }

  .leftContent {
    height: 40vh;
  }

  .rightContent {
    margin-top: -10vh;
    top: 40vh;
    height: 65vh;
  }
}
